In [4]:
import pandas as pd
import numpy as np
import feather

In [11]:
fl_voters = feather.read_dataframe("FL_voters_for_nlp.feather")

In [18]:
# Still some NaN names. 
fl_voters.isnull().sum()

county_code           0
voter_id              0
surname               7
suffix_name           0
first_name           12
middle_name          19
records_exemption     0
zip                   0
sex                   0
race                  0
birth_date            0
party                 0
dtype: int64

In [20]:
# Looks like people writing in wrong fields
problems = fl_voters[fl_voters.isnull().any(axis=1)]

In [21]:
# So safe to model with them as blanks
fl_voters = fl_voters.replace(pd.np.nan, '', regex=True)

In [24]:
fl_voters[['first_name', 'middle_name', 'surname',
           "suffix_name"]] = fl_voters[['first_name', 'middle_name', 'surname', "suffix_name"]].astype(str)

fl_voters.dtypes

county_code          object
voter_id              int32
surname              object
suffix_name          object
first_name           object
middle_name          object
records_exemption    object
zip                  object
sex                  object
race                  int32
birth_date           object
party                object
dtype: object

In [31]:
fl_voters["full_name"] = fl_voters["first_name"].astype(str) + " " +  fl_voters["middle_name"].astype(str) + " " + \
fl_voters["surname"].astype(str) + " " + fl_voters["suffix_name"].astype(str)

In [32]:
fl_voters["full_name"].head()

0           Janice DeTray Baur
1         Minnie Sikes Beckham
2    Robert Christopher Belden
3       Mary Elizabeth Bennett
4              Dixie Ann Biggs
Name: full_name, dtype: object